:global(body) {
    background: #0074d9;
    font-family: sans-serif;
}

:global(*) {
    box-sizing: border-box;
}

.page {
    max-width: 40%;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .page {
        max-width: 70%;
    }
}

@media (max-width: 420px) {
    .page {
        max-width: 100%;
    }
}

.errorMessage {
    margin: 0;
    text-align: center;
    font-size: 2em;
}
