.textInput {
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.5;
    width: 100%;
    resize: none;
    border: 1px solid #cacaca;
    border-radius: 4px;
    margin: 0;
    padding: 10px;
    min-height: 3.6em;
}

.currentInstruction {
    font-size: .8em;
    margin: 10px 0;
}

.button {
    font-size: 1.2em;
    border: 0;
    border-radius: 4px;
    background: #3d9970;
    color: #fff;
}
